header {
    padding: 25px 0;
}

header .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .section-content .left-content .logo{
    margin-right: 50px;
}

nav {
    display: none;
}

nav ul,
.social-media {
    list-style: none;
    display: flex;
}

nav ul {
    gap: 25px;
}

nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
    transition: color 350ms;
}

nav ul li a:hover,
nav ul li.active a {
    color: #ffffff;
}

.social-media{
    gap: 20px;
}

.social-media li a img {
    filter: brightness(0) invert(1);
}

@media (min-width: 480px) {

    header .section-content {
        justify-content: space-between;
    }

    nav {
        display: block;
    }
}

@media (min-width: 992px) {
    header {
        padding: 55px 0;
    }

    nav ul {
        gap: 50px;
    }
}

@media (min-width: 1200px) {

    .social-media{
        gap: 10px;
    }

    .social-media li a {
        padding: 15px;
        border-radius: 100%;
        transition: background 350ms;
    }

    .social-media li a img {
        transition: filter 350ms;
    }
    
    .social-media li a:hover {
        background: #ffffff;
    }
    
    .social-media li a:hover img{
        filter: none;
    }
}