<app-page-title [title]="'Home'"></app-page-title>
<section class="news">
    <div class="container">
        <div class="section-content">
            <div class="left-content">
                <app-card 
                    img_src="assets/card-lg.webp" 
                    img_width="645" 
                    img_height="396" 
                    img_alt=""
                    card_date="January 11, 2022"
                    card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"
                    card_description="Suspendisse tincidunt justo odio Donec gravida tellus sapien, sed lobortis risus suscipit quis. Pellentesque et dignissim ante, id luctus massa."
                    classes="lg white"
                ></app-card>
            </div>
            <div class="right-content">
                <app-card 
                    img_type="cover"
                    img_src="assets/card-hr.webp" 
                    img_width="253" 
                    img_height="156" 
                    img_alt="" 
                    card_date="January 11, 2022"
                    card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"                    
                    classes="horizontal white"
                ></app-card>
                <app-card 
                    img_type="cover"
                    img_src="assets/card-hr-2.webp" 
                    img_width="253" 
                    img_height="156" 
                    img_alt="" 
                    card_date="January 11, 2022"
                    card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"                    
                    classes="horizontal white"
                ></app-card>
                <app-card 
                    img_type="cover"
                    img_src="assets/card-hr-3.webp" 
                    img_width="253" 
                    img_height="156" 
                    img_alt="" 
                    card_date="January 11, 2022"
                    card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"
                    classes="horizontal white"
                ></app-card>
            </div>
        </div>
    </div>
</section>
<section class="author-news">
    <div class="container">
        <div class="section-header">
            <h2>PILIAN EDITOR</h2>
        </div>
        <div class="section-content">
            <app-card 
                img_src="assets/card.webp" 
                img_width="292" 
                img_height="185" 
                img_alt=""
                card_date="January 11, 2022"
                card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"
                card_description="Suspendisse tincidunt justo odio Donec gravida tellus sapien, sed lobortis risus suscipit quis. Pellentesque et dignissim ante, id luctus massa."
            ></app-card>
            <app-card 
                img_src="assets/card.webp" 
                img_width="292" 
                img_height="185" 
                img_alt=""
                card_date="January 11, 2022"
                card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"
                card_description="Suspendisse tincidunt justo odio Donec gravida tellus sapien, sed lobortis risus suscipit quis. Pellentesque et dignissim ante, id luctus massa."
            ></app-card>
            <app-card 
                img_src="assets/card.webp" 
                img_width="292" 
                img_height="185" 
                img_alt=""
                card_date="January 11, 2022"
                card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"
                card_description="Suspendisse tincidunt justo odio Donec gravida tellus sapien, sed lobortis risus suscipit quis. Pellentesque et dignissim ante, id luctus massa."
            ></app-card>
            <app-card 
                img_src="assets/card.webp" 
                img_width="292" 
                img_height="185" 
                img_alt=""
                card_date="January 11, 2022"
                card_title="Lorem ipsum dolor sit amet, consectetur adipiscing elit Suspendisse tincidunt"
                card_description="Suspendisse tincidunt justo odio Donec gravida tellus sapien, sed lobortis risus suscipit quis. Pellentesque et dignissim ante, id luctus massa."
            ></app-card>
        </div>
    </div>
</section>